* {box-sizing:border-box;
margin: 0;
padding: 0;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
height: 80px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0rem calc((100vw 1300px) / 2);
}


nav {
  background-image: url('gender.jpg');
  background-repeat: no-repeat;
  background-size: 110vw 23vh;
}

.logo {
    color: rgb(255, 251, 0);
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0rem 2rem;
}

nav a {
    text-decoration: none;
    color: rgb(255, 251, 0);
    padding: 1.5rem;
}

nav a:hover {
    color: coral;
}

.hero-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw 1300px) / 2);
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: black;
    padding: 0rem 2rem;
}

button {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: rgb(71, 197, 255);
    background: teal;
    cursor: pointer;
}

.column-left h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.column-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
}


button:hover {
    background: white;
color: black;
}

.column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
}

.hero-image {
    width: 100%;
    height: 100%;
}

body {
    background-color: aqua;
}

img {
    float: left;
    margin-right: 20px;
  }
  
  .text-container {
    margin-left: 20px;
  }

@media screen and (max-width: 768px) {
    .hero-columns {
grid-template-columns: 1fr;
    }
}
    